<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <div>
            <h1>Welcome to the chat room <%=user.username%>!</h1>
            <p>Please be nice</p>
            <a href="/home">Back to home</a>
            <a href="/log-out">Log Out</a>
        </div>
    </body>
</html>