<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <div>
            <h1>Welcome <%=user.username%>!</h1>
            <p>Become a member to have special privileges in the chat room!</p>
            <a href="/membership">Membership</a>
            <br><br><a href="/chat-room">Start Chatting</a>
            <br><br><a href="/log-out">Log Out</a>
        </div>
    </body>
</html>