<!DOCTYPE html>
<link rel="stylesheet" href="style.css">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <h1>Priviledged Chat Room</h1>
        <h3>Welcome to a special chat room with special privileges for members!</h3>
        <div style="text-align: center;">
            <a href = "/sign-up" style="text-align: center;">Sign up</a>
        </div>
        <div style="text-align: center;">
            <a href = "/log-in" style="text-align: center;">Log in</a>
        </div>
        
    </body>
</html>