<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <div>
            <h1>Welcome to the secret club <%=user.username%>!</h1>
            <p>You now can see who sent the message in the chat room!</p>
            <p>Go back <a href="/home">Home</a></p>
        </div>
    </body>
</html>