<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <div>
            <h1>Congratulations on signing up <%=username%>!</h1>
            <h3>Please log in</h3>
            <a href="/log-in">Log In</a>
        </div>
    </body>
</html>